[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
matplotlib = "*"
jupyter = "*"
flake8 = "*"
pytest = "*"

[packages]
numpy = "*"
scipy = "*"
scikit-learn = "*"

[requires]
python_version = "3.7"
